$brand-color: #e2dcc9;
$font-family-pt-sans:  'PT Sans', sans-serif;
$font-family-pt-serif:  'PT Serif', serif;
$font-size-h4: 20px;
$color-heading: #54565d;
$color-fff: #fff;
$color-text: #9e8d8d;
$btn-color: #f27250;
$color-h1: #2b1818;